<div>
    <div class="info-card">
        <h1>Informacion - Proceso de carga.</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eius incidunt vero enim, quam natus quisquam <br>
            quo corporis voluptate aut! Commodi et quas nemo maxime sed sit officiis debitis dolorem?<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eius incidunt vero enim, quam natus quisquam <br>
            quo corporis voluptate aut! Commodi et quas nemo maxime sed sit officiis debitis dolorem?<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eius incidunt vero enim, quam natus quisquam <br>        
            quo corporis voluptate aut! Commodi et quas nemo maxime sed sit officiis debitis dolorem?<br>
        </p>
    </div>

    <div>
        <component-dropzone></component-dropzone>
    </div>
</div>
