:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.25rem 0.4rem !important;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;  
}

:host ::ng-deep .p-card-content{
  padding-top: 0px;
  padding-bottom: 0px;
}

:host ::ng-deep .p-card-body{
  font-family: 'Montserrat', Arial, Tahoma, sans-serif;
  line-height: 1.6;
  color: black;
}

.section-card {
  margin-bottom: 20px;
}

h1{
  font-size: 18px;
}

:host ::ng-deep .incrementos-btn.p-button {
  background-color: #006540;
  font-family: "Montserrat", Arial, Tahoma, sans-serif !important;
}

:host ::ng-deep .incrementos-btn.p-button:hover {
  background-color: #006540;
  color: yellow;
}

:host ::ng-deep .incrementos-card .p-button {
  background-color: #006540;
  font-family: "Montserrat", Arial, Tahoma, sans-serif !important;  
}

:host ::ng-deep .incrementos-card .p-button:hover {
  background-color: #006540;
  color: yellow;
}

.incrementos-card {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente si hay altura definida */
  margin-top: 20px;        /* opcional: espacio arriba */
}


@media (max-width: 768px) {
  h1{
    font-size: 1.5rem;
  }
}
  