<!-- <h1>
  Total Sueldos Mensuales: 
  ${{ totalSueldos | number:'1.2-2' }}
</h1>

<h1>
  Total Sueldos Mensuales Sugeridos: 
  ${{ totalSueldosSugeridos | number:'1.2-2' }}
</h1>

<h1>
  Total Sueldos Mensuales Otorgados: 
  ${{ totalSueldosOtorgado | number:'1.2-2' }}
</h1>

<h1>
  Total Sueldos Sugerido: 
  % {{ ((totalSueldosSugeridos / totalSueldos) - 1)*100 | number:'1.1-1'  }}
</h1>

<h1>
  Total Sueldos Otorgado: 
  % {{ ((totalSueldosOtorgado / totalSueldos) - 1)*100 | number:'1.1-1'  }}
</h1>  -->

<!-- <h1>{{jefes.length}}</h1>
<h1 class="page-title">{{nomina}}</h1> -->

<p-card class="section-card" header="Proceso de Administración de Sueldos 2025.">
    <div class="contenedorSuperior">
      <p class="m-0">
        <strong>Gerencia Área 1 y 2</strong> <br>
        Hola {{ nombre }}, estas en el panel de control de los incrementos Ragasa.
      </p>    
  
      <div *ngIf="supJefe" class="porcentajesJefe">
        <div *ngIf="supJefe" class="resumen-item maxp caja">
          <span class="labelJ">Porcentaje Jefe <br>Maximo</span>
          <div>
            <span class="valorJ jefe">
              {{ (porcentajesEstandar[3].Valor/100) | percent:'1.1-1'}}
            </span>
          </div>      
          <span class="labelJ">Monto total: <br>${{ totalSueldosExcedente-(totalSueldosSugeridos - totalSueldos) | number:'1.2-2' }}</span>
        </div>
        
        <div *ngIf="supJefe" class="resumen-item maxp caja">
          <span class="labelJ">Porcentaje Jefe <br>Actual</span>
          <div>
            <span class="valorJ jefe">
              {{ porcentajeJefe(((totalSueldosSugeridos / totalSueldos - 1)*100), ((totalSueldosOtorgado / totalSueldos - 1)*100)) | percent:'1.1-1'}}
            </span>      
          </div>
          <span class="labelJ">Monto total: <br>${{ totalSueldosExcedenteActual(((totalSueldosSugeridos / totalSueldos - 1)*100), ((totalSueldosOtorgado / totalSueldos - 1)*100)) | number:'1.2-2' }}</span>
        </div>  
      </div>
    </div>

    <hr>

    <div class="resumen-grid porcentajes">

      <div class="resumen-item">
        <span class="label">Aumento total sugerido</span>
        <span class="valor sugerido">
          {{ (totalSueldosSugeridos / totalSueldos - 1) | percent:'1.1-1' }}
        </span>
        <span class="label">Monto total: ${{ (totalSueldosSugeridos - totalSueldos) | number:'1.2-2' }}</span>
        <!-- <span class="label">Monto total: ${{totalSueldosSugeridos}} - {{totalSueldos}}</span> -->
      </div>
      
      <div class="resumen-item maxp">
        <span class="label">Aumento Minimo</span>
        <span class="valor porcentajes">
          {{ porcentajesEstandar[0].Valor / 100 | percent:'1.1-1' }}
        </span>
        <!-- <span class="label">Monto total: ${{ (porcentajesEstandar[0].Valor - totalSueldos) | number:'1.2-2' }}</span> -->
      </div>
      
      <div class="resumen-item minp">
        <span class="label">Aumento Maximo</span>
        <span class="valor porcentajes">
          {{ porcentajesEstandar[1].Valor / 100 | percent:'1.1-1' }}
        </span>
        <!-- <span class="label">Monto total: ${{ (porcentajesEstandar[1].Valor - totalSueldos) | number:'1.2-2' }}</span> -->
      </div>
  
      <div class="resumen-item">
        <span class="label">Aumento total asignado</span>
        <span class="valor asignado">
          {{ (totalSueldosOtorgado / totalSueldos - 1) | percent:'1.1-1' }}
        </span>
        <span class="label">Monto total: ${{ (totalSueldosOtorgado - totalSueldos) | number:'1.2-2' }}</span>
        <!-- <span class="label">Monto total: ${{totalSueldosOtorgado}} - {{totalSueldos}}</span> -->
      </div>
  
    </div>  

    <hr>
    <!-- ================= DIRECTOS ================= -->
    <div class="section">
      <h1>Directos</h1>
      <hr>
      <div class="card">
        <p-table
          [value]="jefes"
          dataKey="Nomina"
          editMode="row"
          class="p-datatable-sm p-datatable-gridlines p-datatable-striped">
          [scrollable]="true"
          style="max-height: 500px;">
    
          <ng-template pTemplate="header">
            <tr>
              <th>Nomina</th>
              <th>Nombre</th>
              <th>Cia</th>
              <th>Puesto</th>            
              <th>Fecha Ingreso</th>
              <th>Sem12023</th>
              <th>Sem22023</th>
              <th>Sueldo Mes Actual</th>
              <th>Aumento Sugerido</th>
              <th>Sueldo Mes Sugerido</th>
              <th>Aumento Otorgado</th>
              <th>Aumento Otorgado Jefe</th>
              <th>Sueldo Mes Nuevo</th>            
              <th>Acciones</th>   
              <th>Justificacion Directo</th>         
              <th>Justificacion Jefe</th>         
            </tr>
          </ng-template>
    
          <ng-template pTemplate="body" let-jefe let-editing="editing">
            <tr [pEditableRow]="jefe" [ngClass]="{ 'fila-verde': jefe._highlight }">
    
              <td>{{ jefe.Nomina }}</td>
              <td>{{ jefe.Nombre }}</td>
              <td>{{ jefe.Cia }}</td>
              <td>{{ jefe.Puesto }}</td>            
              <td>{{ jefe.FechaIngreso | date:'dd/MM/yyyy' }}</td>
              <td>{{ jefe.Sem12023 | number:'1.2-2'}}</td>
              <td>{{ jefe.Sem22023 | number:'1.2-2'}}</td>
    
              <td>${{ jefe.SueldoMensual | number:'1.2-2'}}</td>

              <td>{{ jefe.PorcIncrementoSugerido }} %</td>          
    
              <td>
                ${{ jefe.SueldoMensual * (1 + jefe.PorcIncrementoSugerido / 100) | number:'1.2-2' }}
              </td>
              
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      type="number"
                      pInputText
                      [(ngModel)]="jefe.porcentaje_minimo"                    
                      [disabled]="supJefe == true"
                      min="0"
                      max="10000"
                      (ngModelChange)="verificarLimpiezaTexto(jefe, false)"              
                      (blur)="onPorcentajeBlur(jefe.Nomina, jefe.porcentaje_minimo, 'jefe', true)" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ jefe.porcentaje_minimo }} %
                  </ng-template>                  
                </p-cellEditor>
              </td>
              
    
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      type="number"
                      pInputText
                      [(ngModel)]="jefe.porcentaje_minimo_jefe"                    
                      [disabled]="supJefe == false"
                      min="0"
                      max="10000"
                      (ngModelChange)="verificarLimpiezaTexto(jefe, true)"                                    
                      (blur)="onPorcentajeBlur(jefe.Nomina, jefe.porcentaje_minimo_jefe, 'superJefe', true)" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ jefe.porcentaje_minimo_jefe }} %
                  </ng-template>                  
                </p-cellEditor>            
              </td>              
    
              <td>${{ (jefe.SueldoMensual*(1+(jefe.porcentaje_minimo_jefe/100))) | number:'1.2-2' }}</td>            
    
              <td class="text-center">

                  <!-- EDITAR -->
                  <button
                    *ngIf="!editing && jefe.Nomina !== nomina"
                    pButton
                    icon="pi pi-pencil"
                    pInitEditableRow
                    class="p-button-text p-button-sm">
                  </button>
                
                  <!-- GUARDAR -->
                  <button
                    *ngIf="editing && jefe.Nomina !== nomina"
                    pButton
                    icon="pi pi-check"
                    pSaveEditableRow
                    class="p-button-text p-button-sm p-button-success"                  
                    (click)="guardarFila(jefe)">
                  </button>
                
                  <!-- CANCELAR -->
                  <button
                    *ngIf="editing && jefe.Nomina !== nomina"
                    pButton
                    icon="pi pi-times"
                    pCancelEditableRow
                    class="p-button-text p-button-sm p-button-danger">
                  </button>
                
                </td>      
                
                <!-- justificacion jefe -->
                <td>                                                  
                  <div *ngIf="!supJefe && ((editing && jefe.Nomina !== nomina) && (requiereJustificacion(jefe.porcentaje_minimo) || jefe.JustificacionJefe))" class="mt-2">
                    <textarea 
                    [id]="'justificacion-jefe-' + jefe.Nomina"
                    pTextarea  
                    pSize="small" 
                    placeholder="Explique el motivo del aumento fuera de rango" 
                    rows="3"
                    style="text-align: left; vertical-align: top;"
                    [(ngModel)]="jefe.JustificacionJefe"
                    (focus)="textareasParaFocus.delete('justificacion-jefe-' + jefe.Nomina)"                    
                    ></textarea>
                  </div>
                  <div *ngIf="(!editing && jefe.JustificacionJefe)" class="mt-2">
                    <small style="color: #666; white-space: pre-wrap;">{{ jefe.JustificacionJefe }}</small>
                  </div>
                </td>              
                <!-- justificacion super jefe  -->
                <td>                                                  
                  <div *ngIf="supJefe && ((editing && jefe.Nomina !== nomina) && (requiereJustificacion(jefe.porcentaje_minimo_jefe) || jefe.JustificacionSuperJefe))" class="mt-2">
                    <textarea 
                    [id]="'justificacion-super-jefe-' + jefe.Nomina"
                    pTextarea  
                    pSize="small" 
                    placeholder="Explique el motivo del aumento fuera de rango" 
                    rows="3"
                    style="text-align: left; vertical-align: top;"
                    [(ngModel)]="jefe.JustificacionSuperJefe"
                    (focus)="textareasParaFocus.delete('justificacion-super-jefe-' + jefe.Nomina)"                    
                    ></textarea>
                  </div>
                  <div *ngIf="(!editing && jefe.JustificacionSuperJefe)" class="mt-2">
                    <small style="color: #666; white-space: pre-wrap;">{{ jefe.JustificacionSuperJefe }}</small>
                  </div>
                </td>      
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>    
  
    <hr style="margin-bottom: 50px;">
  
    <!-- ================= INDIRECTOS ================= -->
    <div class="section">
      <h1>Indirectos</h1>
      <hr *ngIf="supJefe">
      <div *ngIf="supJefe" class="filtro-jefe">
        <h1 class="filtro-titulo">Filtrar por jefe</h1>

        <div class="filtro-controles">
          <p-dropdown
            [options]="jefes"
            optionLabel= "Nomina - Nombre"
            optionValue="Nomina"
            placeholder="Seleccione un jefe"
            [(ngModel)]="jefeSeleccionado"
            (onChange)="filtrarEmpleadosPorJefe()"
            [showClear]="true"
            styleClass="w-full">
            <ng-template let-jefe pTemplate="item">
              {{jefe.Puesto}}: {{ jefe.Nomina }} - {{ jefe.Nombre }}
            </ng-template>
          
            <ng-template let-jefe pTemplate="selectedItem">
              <span *ngIf="jefe">
                {{jefe.Puesto}}: {{ jefe.Nomina }} - {{ jefe.Nombre }}
              </span>
            </ng-template>
          </p-dropdown>

          <!-- <button
            pButton
            label="Mostrar todo"
            class="incrementos-btn">
          </button> -->
        </div>
      </div>


      <hr>
      <div class="card">
        <p-table
          [value]="empleadosFiltrados"
          dataKey="Nomina"
          editMode="row"
          class="p-datatable-sm p-datatable-gridlines p-datatable-striped">
          [scrollable]="true"
          style="max-height: 500px;">

          <ng-template pTemplate="header">
            <tr>
              <th>Nomina</th>
              <th>Nombre</th>
              <th>Cia</th>
              <th>Puesto</th>
              <th>Jefe</th>
              <th>Fecha Ingreso</th>
              <th>Sem12023</th>
              <th>Sem22023</th>
              <th>Sueldo Mes Actual</th>
              <th>Aumento Sugerido</th>
              <th>Sueldo Mes Sugerido</th>
              <th>Aumento Otorgado</th>
              <th>Aumento Otorgado Jefe</th>
              <th>Sueldo Mes Nuevo</th>            
              <th>Acciones</th>
              <th>Justificacion Directo</th>         
              <th>Justificacion Jefe</th>       
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-empleado let-editing="editing">
            <tr
              [pEditableRow]="empleado"                          
              [ngClass]="{ 'fila-verde': empleado._highlight }">              
              <td>{{ empleado.Nomina }}</td>
              <td>{{ empleado.Nombre }}</td>
              <td>{{ empleado.Cia }}</td>
              <td>{{ empleado.Puesto }}</td>
              <td>{{ empleado.Jefe }}</td>
              <td>{{ empleado.FechaIngreso | date:'dd/MM/yyyy' }}</td>
              <td>{{ empleado.Sem12023 | number:'1.2-2' }}</td>
              <td>{{ empleado.Sem22023 | number:'1.2-2' }}</td>

              <td>${{ empleado.SueldoMensual | number:'1.2-2' }}</td>

              <td>{{ empleado.PorcIncrementoSugerido }} %</td>          

              <td>
                ${{ empleado.SueldoMensual * (1 + empleado.PorcIncrementoSugerido / 100) | number:'1.2-2' }}
              </td>
                            
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      type="number"
                      pInputText
                      [(ngModel)]="empleado.porcentaje_minimo"                    
                      [disabled]="supJefe == true"
                      min="0"
                      max="10000"
                      (ngModelChange)="verificarLimpiezaTexto(empleado, false)"              
                      (blur)="onPorcentajeBlur(empleado.Nomina, empleado.porcentaje_minimo, 'jefe', false)" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ empleado.porcentaje_minimo }} %
                  </ng-template>                  
                </p-cellEditor>
              </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      type="number"
                      pInputText
                      [(ngModel)]="empleado.porcentaje_minimo_jefe"                    
                      [disabled]="supJefe == false"
                      min="0"
                      max="10000"
                      (ngModelChange)="verificarLimpiezaTexto(empleado, true)"
                      (blur)="onPorcentajeBlur(empleado.Nomina, empleado.porcentaje_minimo_jefe, 'superJefe', false)" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ empleado.porcentaje_minimo_jefe }} %
                  </ng-template>                  
                </p-cellEditor>
              </td>
                
              <td>${{ (empleado.SueldoMensual*(1+(empleado.porcentaje_minimo_jefe/100))) | number:'1.2-2' }}</td>                      

              <!-- ACCIONES -->
              <td class="text-center">

                  <!-- EDITAR -->
                  <button
                    *ngIf="!editing && empleado.Nomina !== nomina"
                    pButton
                    icon="pi pi-pencil"
                    pInitEditableRow
                    class="p-button-text p-button-sm">
                  </button>
                
                  <!-- GUARDAR -->
                  <button
                    *ngIf="editing && empleado.Nomina !== nomina"
                    pButton
                    icon="pi pi-check"
                    pSaveEditableRow
                    class="p-button-text p-button-sm p-button-success"
                    (click)="guardarFila(empleado)"                    
                    >
                  </button>
                
                  <!-- CANCELAR -->
                  <button
                    *ngIf="editing && empleado.Nomina !== nomina"
                    pButton
                    icon="pi pi-times"
                    pCancelEditableRow
                    class="p-button-text p-button-sm p-button-danger">
                  </button>                
                </td>      
                
                <!-- justificacion jefe -->
                <td>                                                  
                  <div *ngIf="!supJefe && ((editing && empleado.Nomina !== nomina) && (requiereJustificacion(empleado.porcentaje_minimo) || empleado.JustificacionJefe))" class="mt-2">
                    <textarea 
                    [id]="'justificacion-jefe-empleado-' + empleado.Nomina"
                    pTextarea  
                    pSize="small" 
                    placeholder="Explique el motivo del aumento fuera de rango" 
                    rows="3"
                    style="text-align: left; vertical-align: top;"                    
                    [(ngModel)]="empleado.JustificacionJefe"
                    (focus)="textareasParaFocus.delete('justificacion-jefe-empleado-' + empleado.Nomina)"                          
                    ></textarea>
                  </div>
                  <div *ngIf="!editing && empleado.JustificacionJefe" class="mt-2">
                    <small style="color: #666; white-space: pre-wrap;">{{ empleado.JustificacionJefe }}</small>
                  </div>
                </td>                      
                <!-- justificacion super jefe  -->
                <td>                                                  
                  <div *ngIf="supJefe &&(editing && empleado.Nomina !== nomina) && (requiereJustificacion(empleado.porcentaje_minimo_jefe) || empleado.JustificacionSuperJefe)" class="mt-2">
                    <textarea 
                    [id]="'justificacion-super-jefe-empleado-' + empleado.Nomina"
                    pTextarea  
                    pSize="small" 
                    placeholder="Explique el motivo del aumento fuera de rango" 
                    rows="3"
                    style="text-align: left; vertical-align: top;"                    
                    [(ngModel)]="empleado.JustificacionSuperJefe"
                    (focus)="textareasParaFocus.delete('justificacion-super-jefe-empleado-' + empleado.Nomina)"                    
                    ></textarea>
                  </div>
                  <div *ngIf="!editing && empleado.JustificacionSuperJefe" class="mt-2">
                    <small style="color: #666; white-space: pre-wrap;">{{ empleado.JustificacionSuperJefe }}</small>
                  </div>
                </td>          
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <hr>
    
    <div class="incrementos-card">
      <p-button 
        label="Generar PDF" 
        icon="pi pi-file-pdf" 
        class="incrementos-btn"
        (click)="generarPDF()">
      </p-button>
    </div>
  </p-card>

  