.login-container {
min-height: 100vh;      /* mejor que height */
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;             /* importante */
  margin: 0;

  background-image: url("../../../../assets/fondoverdeForm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Montserrat', Arial, Tahoma, sans-serif;
}

.login-card {
  width: 100%;
  max-width: 380px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.field {
  margin-bottom: 1.5rem;
}

.login-button {
  width: 100%;
  background-color: #006540;
  font-family: 'Montserrat', Arial, Tahoma, sans-serif;
}

:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-password {
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  margin-bottom: 35px;
}

@media (max-width: 768px) {  
  :host ::ng-deep .login-card {
    margin: 15px !important;
  }
}